body{
    padding: 0;
    margin: 0;
}

/* div{
    border-style: solid;
} */

#begin{
    height: 70px;
    background-color: darkcyan;
}

header h1{
    margin: 5px;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}

nav ul{
    padding-left: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav ul li{
    list-style: none;
    display: inline;
}

nav ul li a:hover{
    color: paleturquoise;
}

#middle{
    height: 410px;
    padding-left: 10px;
    background-color: darkslategray;
    margin-bottom: 0;
}

button {
    padding: 7px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    font-weight: bold;
}

button a{
    text-decoration: none;
    color: darkslategray;
}

button a:hover{
    color: darkcyan;
}

footer p{
    padding-left: 10px;
    padding-top: 15px;
    margin:0;
}

#end{
    height: 53px;
    background-color: black;
    color: gray;
}